* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.procurarUsuario {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    margin-top: 20px;
}

.procurarUsuario input {
    font-size: 20px;
    padding: 0 4px;
    text-align: center;
    background-color: #eeeeee;
}

:root {
    --corPrincipal: #f9ca24;
    --corSecundaria: #111;
}